<div id="organization-rules" class="card card-body"><h2>Расшифровка аббревиатур и терминов, используемых далее в правилах:</h2>
<p><strong>АП</strong> — автопоражение;<br><strong>БАН</strong> — блокировка аккаунта;<br><strong>ПО</strong> — программное обеспечение;<br><strong>СС</strong> (Screen Sharing / SS) — проверка на использование читов, манипуляции с интернетом и использование других запрещённых программ;<br><strong>ЧС</strong> — чёрный список;<br><strong>«Игровая зона»</strong>  — турнирное пространство, к которому относятся: турнирные беседы VK, сервер Discord, игровой чат во время проведения турнирной игры.<br><strong>«Переигровка»</strong> — повторная игра в рамках матча на той же карте.<br><strong>Примечание:</strong> Проведение турнирной игры начинается с момента присоединения к турнирному серверу;<br><strong>«Твинк-аккаунт»</strong> — дополнительный аккаунт игрока, не являющийся основным.  </p>
<h2>Общие правила организации:</h2>
<p><strong>1.1</strong> Все правила действуют с момента открытия заявок на турнир и до его окончания. Подавая заявку на турнир, команда подтверждает согласие с правилами. Незнание правил не освобождает от ответственности.В случае нарушения правил, участникам турнира будет отказано в выдачи наград.<br><strong>Примечание:</strong> о сроках открытия заявок, а также о сроках турнира, организация сообщит заранее в своих официальных источниках (группа VK / Telegram канал).  </p>
<p><strong>1.2</strong> Решения Главного организатора имеют приоритет над данным сводом правил.  </p>
<p><strong>1.3</strong> Организация турнира обязуется относиться непредвзято к каждому из участников турнира.<br><strong>Примечание:</strong> в случае нарушения этого правила, вы можете обратиться к Главному организатору.  </p>
<p><strong>1.4</strong> В случае изменения или же обновления правил, организаторы турнира об этом проинформируют заранее.  </p>
<h2>Правила подачи заявки на турнир:</h2>
<p><strong>2.1</strong> Команда несёт ответственность за всех игроков, указанных в её составе.  </p>
<p><strong>2.2</strong> Названия команд и никнеймы участников турнира должны соответствовать правилам проекта, в противном случае команда не будет допущена до участия в турнире.<br><strong>Пояснение:</strong> Если в составе команды записан игрок с  некорректным никнеймом, этого игрока не допустят до участия в турнире.  </p>
<p><strong>2.3</strong> В состав команды запрещено записывать игроков, находящихся в <strong>ЧС</strong>.<br><strong>Пояснение:</strong> Если в составе команды записан игрок, находящийся в <strong>ЧС</strong>, этого игрока не допустят до участия в турнире.  </p>
<p><strong>2.4</strong>  В составе команды каждому игроку должен принадлежать только один аккаунт. <strong>«Твинк-аккаунты»</strong> запрещены.<br><strong>Пояснение:</strong> 1 игрок = 1 аккаунт в составе.  </p>
<p><strong>2.5</strong> Участник турнира не может быть записаны за две и более команд.
Пояснение: Если один игрок записан за более чем одну команду, организаторы свяжутся с игроком, для уточнения в какой из команд он будет участвовать.<br><strong>Примечание:</strong> Если же игрок не выйдет на связь - организаторы турнира свяжутся с лидерами команд для уточнения информации по составу команды. В случае повторного игнорирования, игрока выпишут из обоих составов.  </p>
<h2>Правила проведения турнира:</h2>
<p><strong>3.1</strong> Оскорбления / Неуважительное поведение по отношению к участникам / персоналу организации турнира запрещено.<br><strong>Пояснение:</strong> По отношению к участникам турнира данное правило распространяется только на  <strong>«Игровую зону»</strong>. По отношению к <strong>персоналу</strong> организации данное правило распространяется на <strong>«Игровую зону»</strong>,  чат на проекте VimeWorld, официальные группы VK  / Telegram каналы / Discord сервера / YouTube каналы.<br><strong>Наказание:</strong> в случае оскорбления участника-турнира, игрок получает дисквалификацию на 1 игру. В случае повторного нарушения, игроку будет запрещено участвовать на турнире. 
В случае оскорбления <strong>персонала</strong> турнира, игрок будет дисквалифицирован с турнира до его окончания. Если нарушение было не во время турнира, но в момент открытия заявок - игрок будет отстранен от предстоящего турнира.  </p>
<p><strong>3.2</strong> Любые политические высказывания запрещаются на турнире. Турнир находится вне политики и не относится ни к одному из политических движений.<br><strong>Наказание:</strong> в случае нарушения данного правила, игрок получает дисквалификацию на 1 игру. В случае повторного нарушения, игроку будет запрещено участвовать на турнире.<br><strong>Пояснение:</strong> По отношению к участникам турнира данное правило распространяется только на  <strong>«Игровую зону»</strong>.</p>
<p><strong>3.3</strong> Реклама/Распространение запрещенного <strong>ПО</strong>, технических уязвимостей сервера запрещено.<br><strong>Наказание:</strong> в случае нарушения данного правила, игроку будет запрещено участвовать на турнире и он будет внесён в <strong>ЧС</strong>.  </p>
<p><strong>3.4</strong> Аккаунт, записанный в составе команды на турнир, запрещено продавать/передавать третьим лицам.<br><strong>Наказания:</strong> в случае, продажи аккаунта участником турнира, ему будет запрещено участвовать на турнире. В случае передачи аккаунта, записанного за команду-участницу турнира, этой команде будет запрещено участвовать на турнире.<br><strong>Пояснение:</strong> передача/продажа аккаунта относится только к турнирным играм. Если аккаунт был передан игроку, участвующему на турнире за другую команду, этой команде также будет запрещено участвовать на турнире.  </p>
<p><strong>3.5</strong> Помехи/Подставы против участников/персонала турнира запрещены.<br><strong>Наказания:</strong> в случае обнаружения помехи/подставы со стороны одного из участников турнира по отношению к другому, нарушителю данного правла будет запрещено участвовать на турнире и он будет внесён в <strong>ЧС</strong>.  </p>
<p><strong>3.6</strong> Игроки турнира в праве обратиться в техническую поддержку Events, если считают, что их бан неверен. Жалоба будет рассмотрена организацией.<br><strong>Пояснение:</strong> Если блокировка игрока модераторам оказалось неверной, игроку будет разрешено участие на турнире с дополнительного аккаунта.  </p>
<h2>Правила во время игры:</h2>
<p><strong>4.1</strong> Запрещено любое хранение/использование читов или программ для создания манипуляций с интернетом.<br><strong>Наказания:</strong> в случае нарушения данного правила, команда покидает турнир, а игрок-нарушитель будет внесён в <strong>ЧС</strong>.<br><strong>Примечание:</strong> если участник турнира получит бан по одной из этих причин,  не на турнирной игре -  наказание применяется только к игроку-нарушителю.<br><strong>Исключение:</strong> смотреть п. 3.6 
Запрещены следующие программы: Auslogics Internet Optimizer, CheatEngine, Clumsy, Clusters, CFosSpeed, Destruction UnlimitedCPS, DieTape, ExitLag, Hacks2Win, Hasten, Kogrevran, Leatrix Latency Fix, Liquidation (AutoClicker, ReachLooper), NetBalancer, NetLimiter, NetScanTools, NetScream, NoPing, PingZapper, Throttle, TMeter, WOT Ping, WTFast, Yammi и подобные им программы. Запуск и использование командной строки, .bat, .vbs, .dll файлов, запуск VimeWorld через .bat и посторонние клиенты.<br><strong>Разрешено:</strong> использование DNS, в том числе DNS Jumper, настройка групповых политик (gpedit.msc), настройка реестра (regedit), настройка адаптера, настройка java, VPN и любая настройка без использования посторонних программ.  </p>
<p><strong>4.2</strong> Использование технических уязвимостей сервера запрещено.
<strong>Наказание:</strong> в случае нарушение данного правила, команда покидает турнир.<br><strong>Запрещено:</strong> багоюз блокхита, проход через несокрушимые блоки, предназначенные для ограничения доступа, путем их разрушения, преодоление блоков с использованием «Кости Тора», установка фантомных блоков в местах, где это ограничено сервером, с целью получить преимущество или доступ к недоступным зонам, намеренное зависание в воздухе, использование «Жемчуга Эндера» для проникновения сквозь любые виды блоков, злоупотребление багом с быстрым использованием зелий.  </p>
<p><strong>4.3</strong> Запрещено нарушать действующие правила проекта VimeWorld.<br><strong>Пояснение:</strong> Если игрок нарушил правила проекта и получил <strong>БАН</strong> - он будет отстранен от участия на турнире до завершения срока наказания или покупки разбана.<br><strong>Исключение:</strong> смотреть п. 3.6, а также п. 4.1.  </p>
<p><strong>4.4</strong> Участникам турнира запрещено писать в общий чат во время турнирной игры.<br><strong>Наказание:</strong> два предупреждения, повторное нарушение — исключение с турнирной карты.<br><strong>Пояснения:</strong> участники турнира могут писать в общий чат только в лобби, когда происходит сбор команд. Если у игрока есть вопрос, он может написать организатору в личные сообщения. Предупреждения обнуляются с началом новой карты.
<strong>Исключение:</strong> Если участник турнира написал в общий чат сообщение «случайно» (дубликат прошлого сообщения из лобби), по решению организатора этот игрок может не получить предупреждение.  </p>
<p><strong>4.5</strong> Команда-участница турнира имеет право сдаться (<strong>АП</strong>), отправив сообщение «GG» в общий чат. Для этого необходимо, чтобы более 50% команды написало данную фразу.<br><strong>Пояснение:</strong> <strong>АП</strong> выдается лишь на одну карту, а не на весь матч. 
<strong>Исключение:</strong> Если игрок злоупотребляет фразой «GG» в общем чате, ему будет выдано предупреждение.  </p>
<p><strong>4.6</strong> Команды-участницы турнира обязаны явиться за 15 минут до начала игры. Старт игры начнётся в ровно указанное время по расписанию.<br><strong>Пояснение:</strong> для старта игры необходимо, чтобы в команде-участнице присутствовало 50% и более игроков из состава.<br><strong>Наказание:</strong> Если команда не зашла на сервер или же опоздала на игру — команда получает <strong>АП</strong>.<br><strong>Примечание:</strong> Если игрок намеренно выходит из турнирного лобби, чтобы прервать старт игры - данный игрок будет допущен до матча только через 20 минут после старта.  </p>
<p><strong>4.7</strong>  Подставные матчи запрещены. Если Вы подозреваете команду в участии в подставных матчах, у Вас должны быть доказательства, подтверждающие это.<br><strong>Наказание:</strong> в случае обнаружения намеренного поражения команды, эта команда покидает турнир и все её игроки вносятся в <strong>ЧС</strong>.  </p>
<p><strong>4.8</strong> При подозрении в использовании запрещённого <strong>ПО</strong>, запросите <strong>СС</strong> с помощью команды /ss &lt;ник&gt;.<br><strong>Пояснение:</strong> для того, чтобы запросить проверку на <strong>СС</strong> у Вас должны быть доказательства, которые подтверждают факт, что игрок играет нечестно.  </p>
<p><strong>4.9</strong> Игроки команд, прошедших в этап Play-Off, должны получить соответствующую роль в нашем Discord-сервере не позднее, чем за день до начала своих игр. Если роль не будет запрошена своевременно, то она Вам предоставлена не будет.<br><strong>Наказание:</strong> Если команда не заходит в Discord во время проведения матча — она получает <strong>АП</strong>. Если кто-либо из игроков команды отсутствует в Discord на момент игры, то этот игрок не допускается к участию в матче.<br><strong>Примечание:</strong> Если команда изъявила желание использовать альтернативную программу голосового общения (TeamSpeak, Skype и пр.), она должна сообщить организаторам об этом заранее. В таком случае,  роль в Discord-сервере должен получить только капитан команды.  </p>
<p><strong>4.10</strong>  По истечению 60 минут игрового времени, если ни одна из команд не смогла сломать кровать, то будет назначена переигровка. <strong>Переигровка</strong> будет проходить с x2 ресурсами.  </p>
<p><strong>Примечание:</strong> если же одна из команд всё же сломала кровать, то команда будет считаться победителем. Если же обе команды сломают друг-другу кровати, то победитель будет выбран по количеству выживших игроков. В случае одинакового количества выживших игроков будет назначена повторная <strong>переигровка</strong>.  </p>
<h2>ScreenShare (<strong>СС</strong>):</h2>
<p>Вся информация, продемонстрированная на экране во время <strong>СС</strong>, остается конфиденциальной и не подлежит распространению персоналом.  </p>
<p><strong>5.1 СС</strong> проводится при наличии видеодоказательств или по запросу организаторов.  </p>
<p><strong>5.2</strong> Сообщать о необходимости <strong>СС</strong> можно только во время игры.  </p>
<p><strong>5.3</strong> При вызове на <strong>СС</strong> запрещено выходить с сервера или закрывать лаунчер в течение 10 минут после игры.<br><strong>Наказание:</strong> в случае, нарушения данного правила, команда получает <strong>АП</strong>, а игрок приравнивается к нарушителю и на него накладываются соответствующие санкции, указанные выше.  </p>
<p><strong>5.4</strong> Запрещено злоупотребление командой /ss, включая частые вызовы (более 2 раз на одного игрока в короткий промежуток) и необоснованное использование (например, до начала игры или на собственных тиммейтов).  </p>
<p><strong>Наказание:</strong> в случае нарушения данного правила игроку будет выдаваться два предупреждения, в случае нарушения после предупреждений игрок будет дисквалифицирован от игры на 20 минут. </p>
</div>
